.cd-customization {
    display: inline-block;
}
/* For Iphone */
/*form.cart .cd-customization {*/
    /*float: left;*/
/*}*/
.cd-customization .add-to-cart em,
.cd-customization .add_to_cart_button em {
    font-style: normal;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.cd-customization .add-to-cart svg {
    /* this is the check icon */
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* move the icon on the right - outside the button */
    -webkit-transform: translateX(50%) translateY(-50%);
    -moz-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    -o-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-customization .add-to-cart.is-added em {
    /* product added to the cart - hide text message on the left with no transition*/
    color: transparent;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;
}
.cd-customization .add-to-cart.is-added svg {
    /* product added to the cart - move the svg back inside the button */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0s;
    -moz-transition: -moz-transform 0s;
    transition: transform 0s;
}

.product-remove a.remove {
    display: inline-block;
    font-size: 1.2em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: #454545!important;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.product-remove a.remove:hover {
    color: #fff!important;
    background: #f195b2!important;
}
